p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
}

.mail-box {
  max-width: 300px;
  display: flex;
  flex-flow: column;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  margin: 10px;
  padding: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.bottom-info {
  margin-bottom: 0;
}

.num {
  color: white;
  background-color: blue;
  padding: 3px 12px;
  border-radius: 50px
}

.pets {
  margin: 10px;
  padding: 10px;
  max-width: 350px;
  display: flex;
  flex-flow: column;
}

.pet-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.left-pet {
  display: flex;
}

img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
  margin: auto 0;
  margin-right: 10px;
}

.pet-name {
  font-weight: bold;
}

.pet-status,
.popular {
  color: gray;
  font-size: 16px;
}

.popular {
  font-size: 14px;
}

.pet-follow {
  color: white;
  background-color: skyblue;
  border-style: none;
  border-radius: 5px;
  padding: 7px 12px;
}

.header {
  background-color: purple;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.home {
  color: white;
  margin-left: 15px;
  background-color: aqua;
}

.search {
  margin-left: 15px;
  margin-right: 10px;
  max-width: 500px;
  flex: 1;
  min-width: 100px;
}

.search-bar {
  height: 30px;
  padding-left: 15px;
  border-style: none;
  border-radius: 50px;
  width: 100%;
  box-sizing: border-box;
}

.download {
  background-color: aqua;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.download button {
  color: white;
  background-color: purple;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 7px 12px;
}