.flex0,
.flex1,
.flex2,
.flex3 {
	display: flex;
}

.flex1,
.flex2,
.flex3 {
	margin-top: 10px;
	justify-content: space-between;
}

.flex2 div,
.flex3 div {
	background-color: lightpink;
}

.flex0-0 {
	background-color: lightblue;
	width: 200px;
}

.flex0-1 {
	background-color: lightpink;
	width: 75px;
}

.flex1-0 {
	background-color: lightblue;
	width: 50px;
}

.flex1-1 {
	background-color: lightpink;
	flex: 1;
}

.flex1-2 {
	background-color: lightblue;
	width: 75px;
}

.flex3 {
	height: 70px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	align-items: center;
}