body {
  height: 3000px;
  margin: 0;
}

p {
  margin: 0;
}

.bottom-right {
  color: white;
  background-color: black;
  position: fixed;
  right: 20px;
  bottom: 20px
}

.sidebar {
  color: white;
  background-color: green;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
}