.tahoma-text {
  font-family: Tahoma;
  font-weight: bold;
}

.arial-text {
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 0;
}

.verdana-text {
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 0;
}

.red-text {
  color: red;
  margin-top: 0;
  font-size: 11px;
  font-style: italic;
}

.b-to-p {
  font-size: 15px;
  color: gray;
  margin-top: 0px;
}

.course-ex {
  font-size: 15px;
  margin-top: 15px;
  width: 250px;
}

button {
  color: white;
  background-color: green;
  border-style: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 8px;
}

.ask {
  text-align: center;
}

.apple {
  font-size: 9px;
  text-align: center;
}

.learn-more {
  font-size: 9px;
  text-align: center;
}